@model UserModel

<h1>Cadastre um cadidato</h1>

<form asp-controller="User" asp-action="Create" method="post">
  <div class="form-floating mb-3">
    <input type="text" class="form-control" asp-for="Name" placeholder="your name" id="Name">
    <label for="Name">Nome</label>
    @Html.ValidationMessageFor(x => x.Name)
  </div>

  <div class="form-floating mb-3">
    <input type="email" class="form-control" asp-for="Email" id="Email" placeholder="email">
    <label for="Email" class="form-label">Email</label>
    @Html.ValidationMessageFor(x => x.Email)
  </div>

  <div class="form-floating mb-3">
    <input type="text" class="form-control" asp-for="Phone" id="Phone" placeholder="(xx) xxxxx-xxxx">
    <label for="Phone" class="form-label">Celular</label>
    @Html.ValidationMessageFor(x => x.Phone)
  </div>

  <div class="form-floating mb-3">
    <input type="text" class="form-control" asp-for="CPF" id="CPF" placeholder="XXX.XXX.XXX-XX">
    <label for="CPF" class="form-label">CPF</label>
    @Html.ValidationMessageFor(x => x.CPF)
  </div>

  <div class="d-flex justify-content-end">
    <button class="btn btn-outline-success btn-lg" type="submit">Criar</button>
  </div>
</form>