@model UserModel

<h1>Entrar</h1>

<form asp-controller="User" asp-action="Login" method="post">
  <div class="form-floating mb-3">
    <input type="text" class="form-control" asp-for="CPF" id="CPF" placeholder="XXX.XXX.XXX-XX">
    <label for="CPF" class="form-label">CPF</label>
  </div>

  @* <div class="form-floating mb-3">
    <input type="password" class="form-control" asp-for="Password" id="Password" placeholder="your password">
    <label for="Password" class="form-label">Senha</label>
    </div> *@


  <div class="d-flex justify-content-end">
    <button class="btn btn-outline-success btn-lg" type="submit">Criar</button>
  </div>
</form>