<section class="text-center">
  <img src="https://static.thenounproject.com/png/1527904-200.png" alt="icone de papel, pagina não encontrada">
  <h1 class="text-center">Pagina não encontrada</h1>
  @Html.ActionLink("Voltar para a home", "Index", "Home")
</section>